[submodule "thirdparty/LightGlue"]
	path = thirdparty/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "thirdparty/pyvlfeat"]
	path = thirdparty/pyvlfeat
	url = https://github.com/MatthewCWoodward/pyvlfeat.git
