name: gtsfm-v1
channels:
  - conda-forge
dependencies:
  # python essentials
  - python=3.10
  - pip
  # formatting and dev environment
  - black
  - coverage
  - mypy
  - pylint
  - pytest
  - flake8
  - isort
  # dask and related
  - dask
  - asyncssh
  - python-graphviz
  # core functionality and APIs
  - matplotlib>=3.5
  - networkx
  - numpy==1.26.4 # gtsam requirement
  - nodejs
  - pandas
  - pillow>=9.0.0
  - scikit-learn
  - seaborn
  - scipy
  - hydra-core
  # # 3rd party algorithms for different modules
  - kornia>=0.7.3
  - pycolmap
  # io
  - h5py
  - plotly>=5.0
  - tabulate
  - simplejson
  - pyparsing>=3.0.9
  # testing
  - parameterized
  - pip:
      - open3d
      - opencv-python>=4.5.4.60
      - pydegensac
      - colour
      - trimesh[easy]
      - https://test-files.pythonhosted.org/packages/62/25/4dc31c68c36a7abd61dc02872d641f3dca8461c48142c16045cf660fd53c/gtsam_develop-4.3a0.dev202502260358-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
      - pydot
      - https://download.pytorch.org/whl/cpu/torch-2.5.0%2Bcpu-cp310-cp310-linux_x86_64.whl
      - https://download.pytorch.org/whl/cpu/torchvision-0.20.0%2Bcpu-cp310-cp310-linux_x86_64.whl
