name: gtsfm-v1
channels:
  # The GTSFM Mac environment closely follows the Linux conda environment file,
  # except for two noticeable differences: no CUDA support and no DEGENSAC support.
  # Note: this environment is tested on an M3 Ultra chip.
  - conda-forge
dependencies:
  # Python essentials
  - python=3.10
  - pip
  # Formatting and development environment tools
  - black
  - coverage
  - mypy
  - pylint
  - pytest
  - flake8
  - isort
  # Dask and related dependencies
  - dask  # Equivalent to the dask[complete] pip distribution
  - asyncssh
  - python-graphviz
  # Core functionality and APIs
  - matplotlib>=3.5
  - networkx
  - numpy==1.26.4  # GTSAM requirement
  - nodejs
  - pandas
  - pillow>=9.0.0
  - scikit-learn
  - seaborn
  - scipy
  - hydra-core
  - cxx-compiler
  - boost=1.78.0
  # Third-party algorithms for different modules
  - kornia>=0.7.3
  # I/O
  - h5py
  - plotly>=5.0
  - tabulate
  - simplejson
  - pyparsing>=3.0.9
  - pycolmap
  # Testing utilities
  - parameterized
  - pip:
      - torch
      - torchvision>=0.20.0
      - open3d
      - opencv-python>=4.5.4.60
      - pydegensac
      - colour
      - trimesh[easy]
      - gtsam>=4.2
      - pydot
      - ./thirdparty/pyvlfeat