name: gtsfm-v1
channels:
  # for priority order, we prefer pytorch as the highest priority as it supplies
  # latest stable packages for numerous deep learning based methods. conda-forge
  # supplies higher versions of packages like opencv compared to the defaults
  # channel.
  - pytorch
  - conda-forge
  - open3d-admin
dependencies:
  # python essentials
  - python=3.8
  - pip
  # formatting and dev environment
  - black
  - coverage
  - mypy
  - pylint
  - pytest
  - flake8
  - isort
  # dask and related
  - dask # same as dask[complete] pip distribution
  - asyncssh
  - python-graphviz
  # core functionality and APIs
  - matplotlib==3.4.2
  - networkx
  - numpy
  - nodejs
  - pandas
  - pillow>=8.0.1
  - scikit-learn
  - seaborn
  - scipy
  - hydra-core
  # 3rd party algorithms for different modules
  - cpuonly # replacement of cudatoolkit for cpu only machines
  - pytorch>=1.12.0
  - torchvision>=0.13.0
  - kornia==0.7.3
  - pycolmap
  # io
  - h5py
  - plotly=4.14.3
  - tabulate
  - simplejson
  - open3d
  - pyparsing==3.0.9
  # testing
  - parameterized
  - pip:
      - opencv-python>=4.5.4.58
      - pydegensac
      - colour
      - trimesh[easy]
      - gtsam==4.2
      - pydot
