name: gtsfm-v1
channels:
  - conda-forge
dependencies:
  # python essentials
  - python=3.10
  - pip
  - python-dotenv
  # formatting and dev environment
  - black
  - coverage
  - mypy
  - pylint
  - pytest
  - flake8
  - isort
  # dask and related 
  - dask=2025.9.1
  - distributed=2025.9.1
  - tornado=6.5.2
  - lz4=4.4.4
  - msgpack-python=1.1.1
  - asyncssh
  - python-graphviz
  # core functionality and APIs
  - matplotlib>=3.5
  - networkx
  - numpy==1.26.4 # gtsam requirement
  - nodejs
  - pandas=2.3.3
  - pillow>=9.0.0
  - scikit-learn
  - seaborn
  - scipy
  - hydra-core
  # # 3rd party algorithms for different modules
  - kornia>=0.7.3
  - pycolmap==3.11.1
  # io
  - h5py
  - plotly>=5.0
  - tabulate
  - simplejson
  - pyparsing>=3.0.9
  - psycopg2          # Added for PostgreSQL support
  - open3d
  # testing
  - parameterized
  - pip:
      - opencv-python>=4.5.4.60
      - pydegensac
      - colour
      - trimesh[easy]
      - gtsam==4.3a0
      - pydot
      - https://download.pytorch.org/whl/cpu/torch-2.5.0%2Bcpu-cp310-cp310-linux_x86_64.whl
      - https://download.pytorch.org/whl/cpu/torchvision-0.20.0%2Bcpu-cp310-cp310-linux_x86_64.whl
      - einops
      - huggingface-hub[torch]==0.34.4
      - roma # Rotation Manipiulation Library
      - Flask>=3.0
