name: gtsfm-v1
channels:
  # The GTSFM mac environment closely follows the linux conda environment file, 
  # except for two noticeable differences: no CUDA support and no DEGENSAC support.
  #
  # for priority order, we prefer pytorch as the highest priority as it supplies
  # latest stable packages for numerous deep learning based methods. conda-forge
  # supplies higher versions of packages like opencv compared to the defaults
  # channel.
  - pytorch
  - conda-forge
dependencies:
  # python essentials
  - python=3.8
  - pip
  # formatting and dev environment
  - black
  - coverage
  - mypy
  - pylint
  - pytest
  - flake8
  # dask and related
  - dask # same as dask[complete] pip distribution
  - python-graphviz
  # core functionality and APIs
  - matplotlib==3.4.2
  - networkx
  - numpy
  - nodejs==13.13.0 # will be updated to version 16.16.1 when numjs issue #81 is fixed
  - pandas
  - pillow>=8.0.1
  - scikit-learn
  - hydra-core
  # 3rd party algorithms for different modules
  - opencv=4.5.0 # preferring conda-forge's distribution as it provides the latest distribution
  - pytorch
  # io
  - h5py
  - plotly=4.14.3
  - tabulate
<<<<<<< HEAD
=======
  - pip:
    - hydra-core==1.1.0
    - argoverse @ git+https://github.com/argoai/argoverse-api.git@master
>>>>>>> fb026607590280b36b3915fa3bab2877835f976f


