name: gtsfm-v1
channels:
  - conda-forge
dependencies:
  # python essentials
  - python=3.10
  - pip
  - python-dotenv
  # formatting and dev environment
  - black
  - coverage
  - mypy
  - pylint
  - pytest
  - pytest-cov
  - flake8
  - isort
  # dask and related
  - asyncssh
  - dask=2025.9.1
  - distributed=2025.9.1
  - lz4=4.4.4
  - msgpack-python=1.1.1
  - python-graphviz
  - toolz =1.1.0
  - tornado=6.5.2
  # core functionality and APIs
  - hydra-core
  - matplotlib>=3.5
  - networkx
  - nodejs
  - numpy=2.2.6
  - open3d
  - pandas=2.3.3
  - pillow>=9.0.0
  - scikit-learn
  - scipy
  - seaborn
  # 3rd party algorithms for different modules
  - kornia>=0.7.3
  - pycolmap==3.11.1
  # io
  - h5py
  - plotly>=5.0
  - tabulate
  - simplejson
  - pyparsing>=3.0.9
  - psycopg2 # Added for PostgreSQL support
  # testing
  - parameterized
  - wget
  - pip:
      - torch==2.5.1
      - torchvision==0.20.1
      - opencv-python>=4.5.4.60
      - pydegensac
      - colour
      - trimesh[easy]
      - gtsam==4.3a0
      - pydot
      # dust3r/mast3r
      - roma
      - tqdm
      - einops
      - tensorboard
      - pyglet<2
      - huggingface-hub[torch]==0.34.4
      # 3DGS
      - gsplat==1.5.3
      - torchmetrics==1.7.3
      - tyro==0.9.24
      - Flask>=3.0
      # AnySplat
      - dacite
      - lightning
      - sk-video
      - xformers==0.0.29
      - torch_scatter==2.1.2
      - e3nn
      - colorspacious
      - plyfile
      - imageio==2.37.0
      - imageio-ffmpeg
      - jaxtyping
