* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 10px;
}

body {
  background: white;
  position: fixed;
}

.app-container {
  width: 100%;
  height: 100%;
}

.upload-container {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ply-instructions {
  font-weight: bold;
}

.file-submit-btn {
  width: 10%;
  margin: 10px;
}

.scale-range-container {
  display: flex;
  flex-direction: row;
}
