/* Stylings for index.js Component.

Author: Adi Singh
*/

/* Sets a standard font for all text in the React application. */
body { 
  font-family: 'Segoe UI';
}

/* Standardizes all divs to box in text. */
* {
  box-sizing: border-box;
}

/* Makes App.js body fill up entire screen with small 5px padding around edges. */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 5px;
}

/* Sets white background to the body. */
body {
  background: white;
  position: fixed;
}
