SceneOptimizer:
  _target_: gtsfm.scene_optimizer.SceneOptimizer
  save_gtsfm_data: True
  save_two_view_correspondences_viz: False
  save_3d_viz: True
  pose_angular_error_thresh: 5 # degrees

  feature_extractor:
    _target_: gtsfm.feature_extractor.FeatureExtractor
    detector_descriptor:
      _target_: gtsfm.frontend.detector_descriptor.superpoint.SuperPointDetectorDescriptor

  two_view_estimator:
    _target_: gtsfm.two_view_estimator.TwoViewEstimator
    eval_threshold_px: 4 # in px
    min_num_inliers_acceptance: 15

    matcher:
      _target_: gtsfm.frontend.matcher.superglue_matcher.SuperGlueMatcher
      use_outdoor_model: True

    verifier:
      _target_: gtsfm.frontend.verifier.ransac.Ransac
      use_intrinsics_in_verification: True
      estimation_threshold_px: 4 # for H/E/F estimators
      min_allowed_inlier_ratio_est_model: 0.1

  multiview_optimizer:
    _target_: gtsfm.multi_view_optimizer.MultiViewOptimizer
    rot_avg_module:
      _target_: gtsfm.averaging.rotation.shonan.ShonanRotationAveraging

    trans_avg_module:
      _target_: gtsfm.averaging.translation.averaging_1dsfm.TranslationAveraging1DSFM
      robust_measurement_noise: True

    data_association_module:
      _target_: gtsfm.data_association.data_assoc.DataAssociation
      reproj_error_thresh: 100
      min_track_len: 2
      mode:
        _target_: gtsfm.data_association.data_assoc.TriangulationParam
        value: 0 # 0 corresponds to NO_RANSAC
      num_ransac_hypotheses: 20
      save_track_patches_viz: False

    bundle_adjustment_module:
      _target_: gtsfm.bundle.bundle_adjustment.BundleAdjustmentOptimizer
      shared_calib: True
      output_reproj_error_thresh: 3 # for post-optimization filtering
      robust_measurement_noise: True
