# Default front-end configuration.

# @package _global_
_target_: gtsfm.scene_optimizer.SceneOptimizer

loader:
  _target_: gtsfm.loader.Olsson
  dataset_dir: tests/data/set1_lund_door
  max_resolution: 760

image_pairs_generator:
  _target_: gtsfm.retriever.image_pairs_generator.ImagePairsGenerator
  global_descriptor:
    _target_: gtsfm.frontend.cacher.global_descriptor_cacher.GlobalDescriptorCacher
    global_descriptor_obj:
      _target_: gtsfm.frontend.global_descriptor.MegaLoc
  retriever:
    _target_: gtsfm.retriever.JointSimilaritySequential
    num_matched: 5
    min_score: 0.79
    max_frame_lookahead: 2
  batch_size: 16

graph_partitioner:
  _target_: gtsfm.graph_partitioner.Metis

cluster_optimizer:
  _target_: gtsfm.cluster_optimizer.cluster_anysplat.ClusterAnySplat
  local_checkpoint: null
  max_num_points: 100000
  tracking: True
  max_query_pts: 4096
  query_frame_num: 5
  keypoint_extractor: aliked+sp+sift
  max_points_num: 163840
  fine_tracking: True
  track_vis_thresh: 0.99
  num_inliers: 2
  confidence_thresh: 28
  reproj_error_thresh: 1
  cluster_ba: True
