# Default front-end configuration.

# @package _global_
_target_: gtsfm.scene_optimizer.SceneOptimizer

loader:
  _target_: gtsfm.loader.Colmap
  images_dir: benchmarks/gerrard-hall/images/
  dataset_dir: benchmarks/gerrard-hall/sparse/
  max_resolution: 760
  input_worker: null

image_pairs_generator:
  _target_: gtsfm.retriever.image_pairs_generator.ImagePairsGenerator
  global_descriptor:
    _target_: gtsfm.frontend.cacher.global_descriptor_cacher.GlobalDescriptorCacher
    global_descriptor_obj:
      _target_: gtsfm.frontend.global_descriptor.MegaLoc
  retriever:
    _target_: gtsfm.retriever.JointSimilaritySequential
    num_matched: 5
    min_score: 0.2
    max_frame_lookahead: 2
  batch_size: 16

graph_partitioner:
  _target_: gtsfm.graph_partitioner.Metis

cluster_optimizer:
  _target_: gtsfm.cluster_optimizer.cluster_anysplat.ClusterAnySplat
  local_files_only: null
  weights_path: null
