# @package _global_
_target_: gtsfm.scene_optimizer.SceneOptimizer

image_pairs_generator:
  _target_: gtsfm.retriever.image_pairs_generator.ImagePairsGenerator
  retriever:
    _target_: gtsfm.retriever.Sequential
    max_frame_lookahead: 20

graph_partitioner:
  _target_: gtsfm.graph_partitioner.Single

cluster_optimizer:
  _target_: gtsfm.cluster_optimizer.Multiview
  correspondence_generator:
    _target_: gtsfm.frontend.correspondence_generator.det_desc_correspondence_generator.DetDescCorrespondenceGenerator

    detector_descriptor:
      _target_: gtsfm.frontend.detector_descriptor.sift.SIFTDetectorDescriptor

    matcher:
      _target_: gtsfm.frontend.matcher.twoway_matcher.TwoWayMatcher

  two_view_estimator:
    _target_: gtsfm.two_view_estimator.TwoViewEstimator
    bundle_adjust_2view: True
    eval_threshold_px: 0.5 # in px
    ba_reproj_error_thresholds: [0.5]
    bundle_adjust_2view_maxiters: 100

    verifier:
      _target_: gtsfm.frontend.verifier.ransac.Ransac
      use_intrinsics_in_verification: False
      estimation_threshold_px: 0.5 # for H/E/F estimators

    triangulation_options:
      _target_: gtsfm.data_association.point3d_initializer.TriangulationOptions
      mode:
        _target_: gtsfm.data_association.point3d_initializer.TriangulationSamplingMode
        value: NO_RANSAC

    inlier_support_processor:
      _target_: gtsfm.two_view_estimator.InlierSupportProcessor
      min_num_inliers_est_model: 15
      min_inlier_ratio_est_model: 0.1
  save_gtsfm_data: True
  save_3d_viz: False
  save_two_view_viz: False
  pose_angular_error_thresh: 5 # degrees
  multiview_optimizer:
    _target_: gtsfm.multi_view_optimizer.MultiViewOptimizer
    view_graph_estimator:
      _target_: gtsfm.view_graph_estimator.cycle_consistent_rotation_estimator.CycleConsistentRotationViewGraphEstimator
      edge_error_aggregation_criterion: MEDIAN_EDGE_ERROR

    rot_avg_module:
      _target_: gtsfm.averaging.rotation.shonan.ShonanRotationAveraging

    trans_avg_module:
      _target_: gtsfm.averaging.translation.averaging_1dsfm.TranslationAveraging1DSFM

    data_association_module:
      _target_: gtsfm.data_association.data_assoc.DataAssociation
      min_track_len: 2
      triangulation_options:
        _target_: gtsfm.data_association.point3d_initializer.TriangulationOptions
        reproj_error_threshold: 10
        mode:
          _target_: gtsfm.data_association.point3d_initializer.TriangulationSamplingMode
          value: NO_RANSAC
        max_num_hypotheses: 20
      save_track_patches_viz: False

    bundle_adjustment_module:
      _target_: gtsfm.bundle.bundle_adjustment.BundleAdjustmentOptimizer
      reproj_error_thresholds: [10, 5, 3] # for (multistage) post-optimization filtering
      robust_measurement_noise: True
      shared_calib: True

  dense_multiview_optimizer:
    _target_: gtsfm.densify.mvs_patchmatchnet.MVSPatchmatchNet

  gaussian_splatting_optimizer:
    _target_: gtsfm.splat.gaussian_splatting.GaussianSplatting
    cfg:
      _target_: gtsfm.splat.gaussian_splatting.Config
