# VGGT cluster-only configuration.

# @package _global_
_target_: gtsfm.scene_optimizer.SceneOptimizer

loader:
  _target_: gtsfm.loader.Olsson
  dataset_dir: ??? # Required: set to the dataset root on the command line.
  images_dir: null
  max_resolution: 518 # VGGT recommended max resolution. Non editable. mode can be set in cluster optimizer config.

image_pairs_generator:
  _target_: gtsfm.retriever.image_pairs_generator.ImagePairsGenerator
  global_descriptor:
    _target_: gtsfm.frontend.cacher.global_descriptor_cacher.GlobalDescriptorCacher
    global_descriptor_obj:
      _target_: gtsfm.frontend.global_descriptor.MegaLoc
  retriever:
    _target_: gtsfm.retriever.Similarity
    num_matched: 15
    min_score: 0.4
  batch_size: 16

graph_partitioner:
  _target_: gtsfm.graph_partitioner.Metis

cluster_optimizer:
  _target_: gtsfm.cluster_optimizer.Cacher
  optimizer:
    _target_: gtsfm.cluster_optimizer.cluster_vggt.ClusterVGGT
    input_mode: crop
    weights_path: null
    conf_threshold: 0.1
    max_num_points: 100000
    tracking: true
    tracking_max_query_pts: 512
    tracking_query_frame_num: 3
    keypoint_extractor: aliked+sp+sift
    track_vis_thresh: 0.05
    track_conf_thresh: 0.2
    post_ba_max_reproj_error: 3.0
    vggt_max_reproj_error: 14.0
    min_triangulation_angle: 10.0
    min_track_length: 3
    camera_type: PINHOLE
    drop_outlier_after_camera_merging: true
    drop_child_if_merging_fail: true
    drop_camera_with_no_track: false
    keep_all_cameras_in_merging: true #wether to keep all cameras in merging, otherwise cameras without track can be dropped
    seed: 42
    plot_reprojection_histograms: true
    run_bundle_adjustment_on_leaf: true
    run_bundle_adjustment_on_parent: true
    model_cache_key: null
    store_pre_ba_result: true
    ba_use_calibration_prior: false
    ba_use_undistorted_camera_model: false
    use_shared_calibration: true
    use_gnc: true
    gnc_loss: GMC

use_nonlinear_sim3_merging: true
