/* Stylings for Bundle_Adj.js Component. 

Author: Adi Singh
*/

/*  Makes the Bundle Adjustment Point Cloud window occupy a majority of the screen. White 
    background with black curved border. Z-index of 2 makes it lay on top of other components 
    which have z-index of 1.
*/
.ba-container {
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 2;
    border: 3px solid black;
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    padding: 1%;
}

/*  Positions the 'Go Back' button at the top right of the bundle adjusment container. Mouse turns
    into a pointer when hovering over button.
*/
.ba_go_back_btn {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
}

/*  Positions the 'Toggle Coordinate Grid' button at the upper right of the bundle adjustment 
    container Mouse turns into a pointer when hovering over button.
*/
.toggle_grid_btn {
    position: absolute;
    right: 1%;
    top: 5%;
    cursor: pointer;
    font-size: large;
}