/* Stylings for Data_Association_PC.js Component */

.da-container {
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 2;
    border: 3px solid black;
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    padding: 1%;
}

.da_go_back_btn {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
}

.toggle_grid_btn {
    position: absolute;
    right: 1%;
    top: 5%;
    cursor: pointer;
    font-size: large;
}

.da_center_btn {
    position: absolute;
    right: 1%;
    top: 10%;
    cursor: pointer;
    font-size: large;
}

.rotate_pc_btn {
    position: absolute;
    right: 1%;
    top: 15%;
    cursor: pointer;
    font-size: large;
}