/* Stylings for FrontendSummary.js Component.

Author: Adi Singh
*/

/* Styles the div containing all the frontend summary metrics text. Gives a light tango background with surrounding black
   border. Located in the first quadrant of the screen. 
*/
.fs_container {
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 3;
    border: 3px solid black;
    background-color: #fcaf3e;
    width: 20%;
    height: 40%;
    border-radius: 5px;
    padding: 1%;
}

/* Styles subcontainer div to take all the space within .fs_container. Has relative positioning. */
.fs_sub_container {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Sets the font size for the format hint. */
.format_hint {
    font-size: 80%;
    margin-bottom: 5%;
}

/* Positions the 'Go Back' button to be 10px away from the right. When hovered over, the mouse changes to a 
   pointer.
*/
.go_back_btn {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

/* Gives any text with the tag className="fs_text" a bold weight. Specically, Rotation Success, Translation Success,
Pose Success, and Correspondence Inliers. 
*/
.fs_text {
    font-weight: 600;
}