/* Stylings for ImageViewer.js Component. 

Author: Hayk Stepanyan
*/

.pc_container {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 4;
    border: 3px solid black;
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

img {
    border-radius: 2%;
    object-fit: cover;
}

.image-container {
    height: 20%;
    width: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    float: left;
}

.header {
    width: 100%;
    height: 4%;
    padding-bottom: 4%;
}

.content {
    width: 100%;
    height: 95%;
}

.title {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;  
}

.paginationContainer {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    left: 10%;

}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: white;
    background: black;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
