/* Stylings for ImageViewer.js Component. 

Author: Hayk Stepanyan
*/

.pc_container {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 4;
    border: 3px solid black;
    background-color: whitesmoke;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    padding: 1%;
}

img {
    border-radius: 2%;
    height: 90%;
    width: 100%;
}

.image-container {
    height: 45%;
    width: 20%;
    padding-left: 2%;
    padding-bottom: 2%;
    float: left;
}

p.image-container {
    padding-top: 0%;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
}

.pagination__link--disabled a {
color: rgb(198, 197, 202);
border: 1px solid rgb(198, 197, 202);
}
  
