.mvo_container {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
    border: 3px solid black;
    background-color: #e3d9bc;
    width: 55%;
    height: 40%;
    border-radius: 5px;
    padding: 1%;
}

.mvo-header {
    font-weight: 600;
}

.mvo-text {
    font-weight: 400;
}

.metrics_container {
    margin-right: 8%;
}

.go_back_btn {
    position: absolute;
    right: 0%;
    bottom: 15%;
    cursor: pointer;
}