/* Stylings for Node.js Component.

Author: Adi Singh
*/

/*  Gives the DivNode.js component a black curved border with some padding to center the text 
    within it. Text is centered vertically within the node. Cursor becomes a pointer when 
    hovering over it.
*/
.standard_div_node_style {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 80%;
    height: auto;
    justify-content: center;
    max-width: 5%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    width: auto;
    z-index: 2;
}