/* Stylings for PointSizeSlider.js Component. 

Author: Adi Singh
*/

/* Positions the 'Adjust Point Radius' Slider Input to upper right of the bundle adjustment
   container.
*/
.point_size_slider_container {
    position: absolute;
    right: 1%;
    top: 9%;
}

/* Positions the 'Small' Label of the Point Radius Slider to the left. */
.slider_small_label {
    position: absolute;
    left: 0px;
    bottom: -25px;
    font-size: small;
}

/* Positions the 'Large' Label of the Point Radius Slider to the left. */
.slider_large_label {
    position: absolute;
    right: 0px;
    bottom: -25px;
    font-size: small;
}