.tran_container {
    position: absolute;
    top: 35%;
    right: 10%;
    z-index: 3;
    border: 3px solid black;
    background-color: #e3d9bc;
    width: 18%;
    height: 10%;
    border-radius: 5px;
    padding: 1%;
}

.tran_go_back_btn {
    position: absolute;
    right: 0px;
    bottom: 30px;
    cursor: pointer;
}

.tran_fs-text {
    font-weight: 600;
}