name: GTSFM Wheel Builder CI

on: [workflow_dispatch]

jobs:
  test_and_build:
    name: ${{ matrix.os }}_${{ matrix.venv_backend }}_py${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python_version:
          ["3.8", "3.9", "3.10"]
        venv_backend:
          ["virtualenv"]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3.5.3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          miniforge-version: latest
          python-version: ${{ matrix.python_version }}

      - name: Install pypa/build.
        run: >-
          python -m
          pip install
          build
          --user
          
      - name: Build a binary wheel and a source tarball.
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir wheelhouse/
          .

      - name: Archive wheels
        uses: actions/upload-artifact@v1
        with:
          name: wheels-${{ matrix.python_version }}-${{ matrix.os }}
          path: ./wheelhouse

