name: GTSFM Wheel Builder CI

on: [workflow_dispatch]

jobs:
  test_and_build:
    name: ${{ matrix.os }}_py${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python_version: ["3.10"]  

    steps:
      - uses: actions/checkout@v6.0.1
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
          enable-cache: true
      
      - name: Build package
        run: uv build --wheel --sdist
      
      - name: Archive wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.python_version }}-${{ matrix.os }}
          path: ./dist