name: Reproducibility tests

on: [pull_request, workflow_dispatch]

jobs:
  run-repro-tests:
    name: Run reproducibility tests for different algorithms
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.17"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y nodejs npm graphviz
      
      - name: Install project dependencies
        run: |
          uv sync --locked --python 3.10
          uv pip install torch-scatter --find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html
      
      - name: Environment setup
        run: bash .github/scripts/setup.sh
      
      - name: Reproducibility tests
        run: uv run pytest tests/repro_tests