name: Reproducibility tests

on: [pull_request, workflow_dispatch]

jobs:
  run-repro-tests:
    name: Run reproducibility tests for different algorithms
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    env:
      PYTHON_VERSION: 3.8

    steps:
      - uses: actions/checkout@v2
      - name: Cache conda env
        uses: actions/cache@v3
        env:
          # Increase this value to reset cache if environment_linux_cpuonly.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{hashFiles('environment_linux_cpuonly.yml') }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: gtsfm-v1
          environment-file: environment_linux_cpuonly.yml
          python-version: 3.8
      - name: Environment setup
        run: |
          bash .github/scripts/setup.sh
          pip install pytest-cov
          pip install flake8
          conda info
      - name: Reproducibility tests
        run: |
          pytest tests/repro_tests
