name: Unit tests and python checks

on: [workflow_dispatch]

jobs:
  run-unit-tests:
    name: Run all unit tests in code base
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    env:
      PYTHON_VERSION: 3.8

    steps:
      - uses: actions/checkout@v3.5.3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          activate-environment: gtsfm-v1
          environment-file: environment_linux_cpuonly.yml
          python-version: 3.8
      - name: Environment setup
        run: |
          bash .github/scripts/setup.sh
          pip install pytest-cov
          pip install flake8
          conda info
      - name: Flake check
        run: |
          flake8 --max-line-length 120 --ignore E201,E202,E203,E231,W291,W293,E303,W391,E402,W503,E731 gtsfm tests
      - name: Unit tests
        run: |
          pytest tests --cov gtsfm \
            --ignore tests/repro_tests \
            --ignore tests/loader/test_argoverse_dataset_loader.py \
            --ignore tests/runner/test_frontend_runner.py
          coverage report
      - name: React-Three-Fiber app tests
        run: |
          cd rtf_vis_tool && npm install --legacy-peer-deps && npm test a
